# 1.Data Processing

# Importing dataset:

In [1]:
import pandas as pd
data=pd.read_csv("C://Users//Tanuja//Desktop//DATA-SET//products.csv")
data

,Index,Product_name,Product_price,Product_rating,Review
0,0,"REDMI 9i Sport (Coral Green, 64 GB)","₹8,799",4.4,Good
1,1,"realme Narzo 50A (Oxygen Blue, 64 GB)","₹11,499",4.4,Good
2,2,"realme 8i (Space Black, 128 GB)","₹15,999",4.4,Good
3,3,"realme 8i (Space Black, 64 GB)","₹13,999",4.5,Bad
4,4,"realme Narzo 50A (Oxygen Green, 64 GB)","₹11,499",4.4,Bad
5,5,"realme Narzo 50A (Oxygen Blue, 128 GB)","₹12,499",4.4,Good
6,6,"REDMI 9i Sport (Metallic Blue, 64 GB)","₹8,799",4.4,Bad
7,7,"REDMI 9i Sport (Carbon Black, 64 GB)","₹8,799",4.4,Bad
8,8,"APPLE iPhone SE (Red, 64 GB)","₹27,999",4.5,Good
9,9,"POCO C31 (Shadow Gray, 64 GB)","₹8,999",4.4,Bad
10,10,"realme C21Y (Cross Black, 32 GB)","₹9,499",4.6,Bad
11,11,"realme C21Y (Cross Black, 64 GB)","₹10,499",4.5,Bad
12,12,"realme C21Y (Cross Blue, 64 GB)","₹10,499",4.5,Good
13,13,"POCO C31 (Royal Blue, 32 GB)","₹7,999",4.4,Bad
14,14,"realme C21Y (Cross Blue, 32 GB)","₹9,499",4.6,Good
15,15,"APPLE iPhone 12 Mini (Black, 64 GB)","₹38,999",4.5,Good
16,16,"MOTOROLA g31 (Baby Blue, 64 GB)","₹12,999",4.3,Bad
17,17,"APPLE iPhone SE (White, 64 GB)","₹27,999",4.5,Bad
18,18,"MOTOROLA g31 (Meteorite Grey, 64 GB)","₹12,999",4.3,Good
19,19,"realme 8 (Cyber Black, 128 GB)","₹16,999",4.4,Bad
20,20,"realme 8 (Cyber Silver, 128 GB)","₹17,999",4.4,Bad
21,21,"realme C11 2021 (Cool Grey, 32 GB)","₹7,499",4.4,Good
22,22,"realme C11 2021 (Cool Grey, 64 GB)","₹8,999",4.3,Bad
23,23,"realme C11 2021 (Cool Blue, 64 GB)","₹8,999",4.3,Good

# Reading specific rows:

In [2]:
#Slicing-Reading specific values


import pandas as pd
data=pd.read_csv("C://Users//Tanuja//Desktop//DATA-SET//products.csv")
data[0:24]["Product_name"]

0        REDMI 9i Sport (Coral Green, 64 GB)
1      realme Narzo 50A (Oxygen Blue, 64 GB)
2            realme 8i (Space Black, 128 GB)
3             realme 8i (Space Black, 64 GB)
4     realme Narzo 50A (Oxygen Green, 64 GB)
5     realme Narzo 50A (Oxygen Blue, 128 GB)
6      REDMI 9i Sport (Metallic Blue, 64 GB)
7       REDMI 9i Sport (Carbon Black, 64 GB)
8               APPLE iPhone SE (Red, 64 GB)
9              POCO C31 (Shadow Gray, 64 GB)
10          realme C21Y (Cross Black, 32 GB)
11          realme C21Y (Cross Black, 64 GB)
12           realme C21Y (Cross Blue, 64 GB)
13              POCO C31 (Royal Blue, 32 GB)
14           realme C21Y (Cross Blue, 32 GB)
15       APPLE iPhone 12 Mini (Black, 64 GB)
16           MOTOROLA g31 (Baby Blue, 64 GB)
17            APPLE iPhone SE (White, 64 GB)
18      MOTOROLA g31 (Meteorite Grey, 64 GB)
19            realme 8 (Cyber Black, 128 GB)
20           realme 8 (Cyber Silver, 128 GB)
21        realme C11 2021 (Cool Grey, 32 GB)
22        realme C11 2021 (Cool Grey, 64 GB)
23        realme C11 2021 (Cool Blue, 64 GB)
Name: Product_name, dtype: object

# Reading Specific Rows and column:

In [3]:
# specific records by using indexing and multi-axes:

print(data.loc[[5,10,15,20],["Product_name","Product_price"]])

                              Product_name Product_price
5   realme Narzo 50A (Oxygen Blue, 128 GB)       ₹12,499
10        realme C21Y (Cross Black, 32 GB)        ₹9,499
15     APPLE iPhone 12 Mini (Black, 64 GB)       ₹38,999
20         realme 8 (Cyber Silver, 128 GB)       ₹17,999

# Viewing the data:

In [4]:
# top most data:

data.head()

,Index,Product_name,Product_price,Product_rating,Review
0,0,"REDMI 9i Sport (Coral Green, 64 GB)","₹8,799",4.4,Good
1,1,"realme Narzo 50A (Oxygen Blue, 64 GB)","₹11,499",4.4,Good
2,2,"realme 8i (Space Black, 128 GB)","₹15,999",4.4,Good
3,3,"realme 8i (Space Black, 64 GB)","₹13,999",4.5,Bad
4,4,"realme Narzo 50A (Oxygen Green, 64 GB)","₹11,499",4.4,Bad

In [5]:
# bottom most data:

data.tail()

,Index,Product_name,Product_price,Product_rating,Review
19,19,"realme 8 (Cyber Black, 128 GB)","₹16,999",4.4,Bad
20,20,"realme 8 (Cyber Silver, 128 GB)","₹17,999",4.4,Bad
21,21,"realme C11 2021 (Cool Grey, 32 GB)","₹7,499",4.4,Good
22,22,"realme C11 2021 (Cool Grey, 64 GB)","₹8,999",4.3,Bad
23,23,"realme C11 2021 (Cool Blue, 64 GB)","₹8,999",4.3,Good

# Information about dataset:

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Index           24 non-null     int64
 1   Product_name    24 non-null     object
 2   Product_price   24 non-null     object
 3   Product_rating  24 non-null     float64
 4   Review          24 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 1.1+ KB

In [7]:
# max rows and columns:

print(pd.options.display.max_rows)
print(pd.options.display.max_columns)

60
20

# Duplicates:

In [8]:
# checking duplicated data

data.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
dtype: bool

In [9]:
# checking count of duplicate values:

data.duplicated().count()

24

# 2. DATA CLEANING

In [10]:
# retrieving data by using set and head:
# head is used for retrieving 24 datas

import numpy as np

set=pd.DataFrame(data.head(24),columns=["Index","Product_name","Product_price","Product_rating","Review"])  
set

,Index,Product_name,Product_price,Product_rating,Review
0,0,"REDMI 9i Sport (Coral Green, 64 GB)","₹8,799",4.4,Good
1,1,"realme Narzo 50A (Oxygen Blue, 64 GB)","₹11,499",4.4,Good
2,2,"realme 8i (Space Black, 128 GB)","₹15,999",4.4,Good
3,3,"realme 8i (Space Black, 64 GB)","₹13,999",4.5,Bad
4,4,"realme Narzo 50A (Oxygen Green, 64 GB)","₹11,499",4.4,Bad
5,5,"realme Narzo 50A (Oxygen Blue, 128 GB)","₹12,499",4.4,Good
6,6,"REDMI 9i Sport (Metallic Blue, 64 GB)","₹8,799",4.4,Bad
7,7,"REDMI 9i Sport (Carbon Black, 64 GB)","₹8,799",4.4,Bad
8,8,"APPLE iPhone SE (Red, 64 GB)","₹27,999",4.5,Good
9,9,"POCO C31 (Shadow Gray, 64 GB)","₹8,999",4.4,Bad
10,10,"realme C21Y (Cross Black, 32 GB)","₹9,499",4.6,Bad
11,11,"realme C21Y (Cross Black, 64 GB)","₹10,499",4.5,Bad
12,12,"realme C21Y (Cross Blue, 64 GB)","₹10,499",4.5,Good
13,13,"POCO C31 (Royal Blue, 32 GB)","₹7,999",4.4,Bad
14,14,"realme C21Y (Cross Blue, 32 GB)","₹9,499",4.6,Good
15,15,"APPLE iPhone 12 Mini (Black, 64 GB)","₹38,999",4.5,Good
16,16,"MOTOROLA g31 (Baby Blue, 64 GB)","₹12,999",4.3,Bad
17,17,"APPLE iPhone SE (White, 64 GB)","₹27,999",4.5,Bad
18,18,"MOTOROLA g31 (Meteorite Grey, 64 GB)","₹12,999",4.3,Good
19,19,"realme 8 (Cyber Black, 128 GB)","₹16,999",4.4,Bad
20,20,"realme 8 (Cyber Silver, 128 GB)","₹17,999",4.4,Bad
21,21,"realme C11 2021 (Cool Grey, 32 GB)","₹7,499",4.4,Good
22,22,"realme C11 2021 (Cool Grey, 64 GB)","₹8,999",4.3,Bad
23,23,"realme C11 2021 (Cool Blue, 64 GB)","₹8,999",4.3,Good

# Checking for missing value by using isnull or notnull:

In [11]:
# Checking for missing values by using isnull():

set["Review"].isnull()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
Name: Review, dtype: bool

In [12]:
# Checking for missing values by using notnull():

set["Review"].notnull()

0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
15    True
16    True
17    True
18    True
19    True
20    True
21    True
22    True
23    True
Name: Review, dtype: bool

In [13]:
# Total count of none values:

set.isnull().sum()

Index             0
Product_name      0
Product_price     0
Product_rating    0
Review            0
dtype: int64

In [14]:
# overall count for dataset:

set.count()

Index             24
Product_name      24
Product_price     24
Product_rating    24
Review            24
dtype: int64

# Cleaning/filling missing data:

In [15]:
# droping missing values:

set=pd.DataFrame(data.head(21),columns=["Index","Product_name","Product_price","Product_rating","Review"])
set

,Index,Product_name,Product_price,Product_rating,Review
0,0,"REDMI 9i Sport (Coral Green, 64 GB)","₹8,799",4.4,Good
1,1,"realme Narzo 50A (Oxygen Blue, 64 GB)","₹11,499",4.4,Good
2,2,"realme 8i (Space Black, 128 GB)","₹15,999",4.4,Good
3,3,"realme 8i (Space Black, 64 GB)","₹13,999",4.5,Bad
4,4,"realme Narzo 50A (Oxygen Green, 64 GB)","₹11,499",4.4,Bad
5,5,"realme Narzo 50A (Oxygen Blue, 128 GB)","₹12,499",4.4,Good
6,6,"REDMI 9i Sport (Metallic Blue, 64 GB)","₹8,799",4.4,Bad
7,7,"REDMI 9i Sport (Carbon Black, 64 GB)","₹8,799",4.4,Bad
8,8,"APPLE iPhone SE (Red, 64 GB)","₹27,999",4.5,Good
9,9,"POCO C31 (Shadow Gray, 64 GB)","₹8,999",4.4,Bad
10,10,"realme C21Y (Cross Black, 32 GB)","₹9,499",4.6,Bad
11,11,"realme C21Y (Cross Black, 64 GB)","₹10,499",4.5,Bad
12,12,"realme C21Y (Cross Blue, 64 GB)","₹10,499",4.5,Good
13,13,"POCO C31 (Royal Blue, 32 GB)","₹7,999",4.4,Bad
14,14,"realme C21Y (Cross Blue, 32 GB)","₹9,499",4.6,Good
15,15,"APPLE iPhone 12 Mini (Black, 64 GB)","₹38,999",4.5,Good
16,16,"MOTOROLA g31 (Baby Blue, 64 GB)","₹12,999",4.3,Bad
17,17,"APPLE iPhone SE (White, 64 GB)","₹27,999",4.5,Bad
18,18,"MOTOROLA g31 (Meteorite Grey, 64 GB)","₹12,999",4.3,Good
19,19,"realme 8 (Cyber Black, 128 GB)","₹16,999",4.4,Bad
20,20,"realme 8 (Cyber Silver, 128 GB)","₹17,999",4.4,Bad

In [16]:
# replacing values with some specific value

set.replace({"Good":1,"Bad":0})

,Index,Product_name,Product_price,Product_rating,Review
0,0,"REDMI 9i Sport (Coral Green, 64 GB)","₹8,799",4.4,1
1,1,"realme Narzo 50A (Oxygen Blue, 64 GB)","₹11,499",4.4,1
2,2,"realme 8i (Space Black, 128 GB)","₹15,999",4.4,1
3,3,"realme 8i (Space Black, 64 GB)","₹13,999",4.5,0
4,4,"realme Narzo 50A (Oxygen Green, 64 GB)","₹11,499",4.4,0
5,5,"realme Narzo 50A (Oxygen Blue, 128 GB)","₹12,499",4.4,1
6,6,"REDMI 9i Sport (Metallic Blue, 64 GB)","₹8,799",4.4,0
7,7,"REDMI 9i Sport (Carbon Black, 64 GB)","₹8,799",4.4,0
8,8,"APPLE iPhone SE (Red, 64 GB)","₹27,999",4.5,1
9,9,"POCO C31 (Shadow Gray, 64 GB)","₹8,999",4.4,0
10,10,"realme C21Y (Cross Black, 32 GB)","₹9,499",4.6,Bad
11,11,"realme C21Y (Cross Black, 64 GB)","₹10,499",4.5,0
12,12,"realme C21Y (Cross Blue, 64 GB)","₹10,499",4.5,1
13,13,"POCO C31 (Royal Blue, 32 GB)","₹7,999",4.4,0
14,14,"realme C21Y (Cross Blue, 32 GB)","₹9,499",4.6,1
15,15,"APPLE iPhone 12 Mini (Black, 64 GB)","₹38,999",4.5,1
16,16,"MOTOROLA g31 (Baby Blue, 64 GB)","₹12,999",4.3,0
17,17,"APPLE iPhone SE (White, 64 GB)","₹27,999",4.5,0
18,18,"MOTOROLA g31 (Meteorite Grey, 64 GB)","₹12,999",4.3,1
19,19,"realme 8 (Cyber Black, 128 GB)","₹16,999",4.4,0
20,20,"realme 8 (Cyber Silver, 128 GB)","₹17,999",4.4,0

# Data Frame methods:

In [17]:
# slicing of row by using iloc[]:

set=set.iloc[0:11]
set

,Index,Product_name,Product_price,Product_rating,Review
0,0,"REDMI 9i Sport (Coral Green, 64 GB)","₹8,799",4.4,Good
1,1,"realme Narzo 50A (Oxygen Blue, 64 GB)","₹11,499",4.4,Good
2,2,"realme 8i (Space Black, 128 GB)","₹15,999",4.4,Good
3,3,"realme 8i (Space Black, 64 GB)","₹13,999",4.5,Bad
4,4,"realme Narzo 50A (Oxygen Green, 64 GB)","₹11,499",4.4,Bad
5,5,"realme Narzo 50A (Oxygen Blue, 128 GB)","₹12,499",4.4,Good
6,6,"REDMI 9i Sport (Metallic Blue, 64 GB)","₹8,799",4.4,Bad
7,7,"REDMI 9i Sport (Carbon Black, 64 GB)","₹8,799",4.4,Bad
8,8,"APPLE iPhone SE (Red, 64 GB)","₹27,999",4.5,Good
9,9,"POCO C31 (Shadow Gray, 64 GB)","₹8,999",4.4,Bad
10,10,"realme C21Y (Cross Black, 32 GB)","₹9,499",4.6,Bad

In [18]:
# slicing of column by using iloc[]:

set=set.iloc[:,0:3]
set

    Index                            Product_name Product_price
0       0     REDMI 9i Sport (Coral Green, 64 GB)        ₹8,799
1       1   realme Narzo 50A (Oxygen Blue, 64 GB)       ₹11,499
2       2         realme 8i (Space Black, 128 GB)       ₹15,999
3       3          realme 8i (Space Black, 64 GB)       ₹13,999
4       4  realme Narzo 50A (Oxygen Green, 64 GB)       ₹11,499
5       5  realme Narzo 50A (Oxygen Blue, 128 GB)       ₹12,499
6       6   REDMI 9i Sport (Metallic Blue, 64 GB)        ₹8,799
7       7    REDMI 9i Sport (Carbon Black, 64 GB)        ₹8,799
8       8            APPLE iPhone SE (Red, 64 GB)       ₹27,999
9       9           POCO C31 (Shadow Gray, 64 GB)        ₹8,999
10     10        realme C21Y (Cross Black, 32 GB)        ₹9,499

In [19]:
# assigning indexing pandas as dataframes:

set=pd.DataFrame(data,columns=["Product_name","Product_price","Product_rating","Review"],
                        index=["a","b","c","d"])
set

  Product_name Product_price  Product_rating Review
a          NaN           NaN             NaN    NaN
b          NaN           NaN             NaN    NaN
c          NaN           NaN             NaN    NaN
d          NaN           NaN             NaN    NaN

In [20]:
# sorting by columns in ascending order:

set=pd.DataFrame(data.head(20),columns=["Product_name","Product_price","Product_rating","Review"])
set
set.sort_values(by=["Product_name"])

,Product_name,Product_price,Product_rating,Review
15,"APPLE iPhone 12 Mini (Black, 64 GB)","₹38,999",4.5,Good
8,"APPLE iPhone SE (Red, 64 GB)","₹27,999",4.5,Good
17,"APPLE iPhone SE (White, 64 GB)","₹27,999",4.5,Bad
16,"MOTOROLA g31 (Baby Blue, 64 GB)","₹12,999",4.3,Bad
18,"MOTOROLA g31 (Meteorite Grey, 64 GB)","₹12,999",4.3,Good
13,"POCO C31 (Royal Blue, 32 GB)","₹7,999",4.4,Bad
9,"POCO C31 (Shadow Gray, 64 GB)","₹8,999",4.4,Bad
7,"REDMI 9i Sport (Carbon Black, 64 GB)","₹8,799",4.4,Bad
0,"REDMI 9i Sport (Coral Green, 64 GB)","₹8,799",4.4,Good
6,"REDMI 9i Sport (Metallic Blue, 64 GB)","₹8,799",4.4,Bad
19,"realme 8 (Cyber Black, 128 GB)","₹16,999",4.4,Bad
2,"realme 8i (Space Black, 128 GB)","₹15,999",4.4,Good
3,"realme 8i (Space Black, 64 GB)","₹13,999",4.5,Bad
10,"realme C21Y (Cross Black, 32 GB)","₹9,499",4.6,Bad
11,"realme C21Y (Cross Black, 64 GB)","₹10,499",4.5,Bad
14,"realme C21Y (Cross Blue, 32 GB)","₹9,499",4.6,Good
12,"realme C21Y (Cross Blue, 64 GB)","₹10,499",4.5,Good
5,"realme Narzo 50A (Oxygen Blue, 128 GB)","₹12,499",4.4,Good
1,"realme Narzo 50A (Oxygen Blue, 64 GB)","₹11,499",4.4,Good
4,"realme Narzo 50A (Oxygen Green, 64 GB)","₹11,499",4.4,Bad

In [21]:
# sorting columns by descending order:

set.sort_values(ascending=False, by=["Product_name"])

,Product_name,Product_price,Product_rating,Review
4,"realme Narzo 50A (Oxygen Green, 64 GB)","₹11,499",4.4,Bad
1,"realme Narzo 50A (Oxygen Blue, 64 GB)","₹11,499",4.4,Good
5,"realme Narzo 50A (Oxygen Blue, 128 GB)","₹12,499",4.4,Good
12,"realme C21Y (Cross Blue, 64 GB)","₹10,499",4.5,Good
14,"realme C21Y (Cross Blue, 32 GB)","₹9,499",4.6,Good
11,"realme C21Y (Cross Black, 64 GB)","₹10,499",4.5,Bad
10,"realme C21Y (Cross Black, 32 GB)","₹9,499",4.6,Bad
3,"realme 8i (Space Black, 64 GB)","₹13,999",4.5,Bad
2,"realme 8i (Space Black, 128 GB)","₹15,999",4.4,Good
19,"realme 8 (Cyber Black, 128 GB)","₹16,999",4.4,Bad
6,"REDMI 9i Sport (Metallic Blue, 64 GB)","₹8,799",4.4,Bad
0,"REDMI 9i Sport (Coral Green, 64 GB)","₹8,799",4.4,Good
7,"REDMI 9i Sport (Carbon Black, 64 GB)","₹8,799",4.4,Bad
9,"POCO C31 (Shadow Gray, 64 GB)","₹8,999",4.4,Bad
13,"POCO C31 (Royal Blue, 32 GB)","₹7,999",4.4,Bad
18,"MOTOROLA g31 (Meteorite Grey, 64 GB)","₹12,999",4.3,Good
16,"MOTOROLA g31 (Baby Blue, 64 GB)","₹12,999",4.3,Bad
17,"APPLE iPhone SE (White, 64 GB)","₹27,999",4.5,Bad
8,"APPLE iPhone SE (Red, 64 GB)","₹27,999",4.5,Good
15,"APPLE iPhone 12 Mini (Black, 64 GB)","₹38,999",4.5,Good

# Pandas DataFrame.describe():

In [22]:
set.describe()

       Product_rating
count       20.000000
mean         4.440000
std          0.082078
min          4.300000
25%          4.400000
50%          4.400000
75%          4.500000
max          4.600000