# 1.Data Processing

# Importing dataset:

In [4]:
import pandas as pd
data=pd.read_csv("C://Users//Tanuja//Desktop//DATA-SET//super.csv")
data

,order_id,customer_id,order_date,customer_name,state,category,sub_category,sales,Review
0,CA-2016-152156,CG-12520,11-08-2016,Claire Gute,Kentucky,Furniture,Bookcases,261.9600,Good
1,CA-2016-152156,CG-12520,11-08-2016,Claire Gute,Kentucky,Furniture,Chairs,731.9400,Good
2,CA-2016-138688,DV-13045,06-12-2016,Darrin Van Huff,California,Office Supplies,Labels,14.6200,Good
3,US-2015-108966,SO-20335,10-11-2015,Sean O'Donnell,Florida,Furniture,Tables,957.5775,Bad
4,US-2015-108966,SO-20335,10-11-2015,Sean O'Donnell,Florida,Office Supplies,Storage,22.3680,Bad
5,CA-2014-115812,BH-11710,06-09-2014,Brosina Hoffman,California,Furniture,Furnishings,48.8600,Good
6,CA-2014-115812,BH-11710,06-09-2014,Brosina Hoffman,California,Office Supplies,Art,7.2800,Bad
7,CA-2014-115812,BH-11710,06-09-2014,Brosina Hoffman,California,Technology,Phones,907.1520,Bad
8,CA-2014-115812,BH-11710,06-09-2014,Brosina Hoffman,California,Office Supplies,Binders,18.5040,Good
9,CA-2014-115812,BH-11710,06-09-2014,Brosina Hoffman,California,Office Supplies,Appliances,114.9000,Good
10,CA-2014-115812,BH-11710,06-09-2014,Brosina Hoffman,California,Furniture,Tables,1706.1840,Bad
11,CA-2014-115812,BH-11710,06-09-2014,Brosina Hoffman,California,Technology,Phones,911.4240,Bad
12,CA-2017-114412,AA-10480,4/15/2017,Andrew Allen,North Carolina,Office Supplies,Paper,15.5520,Good
13,CA-2016-161389,IM-15070,12-05-2016,Irene Maddox,Washington,Office Supplies,Binders,407.9760,Bad
14,US-2015-118983,HP-14815,11/22/2015,Harold Pawlan,Texas,Office Supplies,Appliances,68.8100,Good
15,US-2015-118983,HP-14815,11/22/2015,Harold Pawlan,Texas,Office Supplies,Binders,2.5440,Good
16,CA-2014-105893,PK-19075,11-11-2014,Pete Kriz,Wisconsin,Office Supplies,Storage,665.8800,Bad
17,CA-2014-167164,AG-10270,5/13/2014,Alejandro Grove,Utah,Office Supplies,Storage,55.5000,Bad
18,CA-2014-143336,ZD-21925,8/27/2014,Zuschuss Donatelli,California,Office Supplies,Art,8.5600,Good
19,CA-2014-143336,ZD-21925,8/27/2014,Zuschuss Donatelli,California,Technology,Phones,213.4800,Bad
20,CA-2014-143336,ZD-21925,8/27/2014,Zuschuss Donatelli,California,Office Supplies,Binders,22.7200,Bad

# Reading specific rows:

In [5]:
#Slicing-Reading specific values


import pandas as pd
data=pd.read_csv("C://Users//Tanuja//Desktop//DATA-SET//super.csv")
data[0:21]["state"]

0           Kentucky
1           Kentucky
2         California
3            Florida
4            Florida
5         California
6         California
7         California
8         California
9         California
10        California
11        California
12    North Carolina
13        Washington
14             Texas
15             Texas
16         Wisconsin
17              Utah
18        California
19        California
20        California
Name: state, dtype: object

# Reading Specific Rows and column:

In [6]:
# specific records by using indexing and multi-axes:

print(data.loc[[5,10,15,20],["order_id","customer_id","order_date"]])

          order_id customer_id  order_date
5   CA-2014-115812    BH-11710  06-09-2014
10  CA-2014-115812    BH-11710  06-09-2014
15  US-2015-118983    HP-14815  11/22/2015
20  CA-2014-143336    ZD-21925   8/27/2014

# Viewing the data:

In [7]:
# top most data:

data.head()

,order_id,customer_id,order_date,customer_name,state,category,sub_category,sales,Review
0,CA-2016-152156,CG-12520,11-08-2016,Claire Gute,Kentucky,Furniture,Bookcases,261.9600,Good
1,CA-2016-152156,CG-12520,11-08-2016,Claire Gute,Kentucky,Furniture,Chairs,731.9400,Good
2,CA-2016-138688,DV-13045,06-12-2016,Darrin Van Huff,California,Office Supplies,Labels,14.6200,Good
3,US-2015-108966,SO-20335,10-11-2015,Sean O'Donnell,Florida,Furniture,Tables,957.5775,Bad
4,US-2015-108966,SO-20335,10-11-2015,Sean O'Donnell,Florida,Office Supplies,Storage,22.3680,Bad

In [8]:
# bottom most data:

data.tail()

,order_id,customer_id,order_date,customer_name,state,category,sub_category,sales,Review
16,CA-2014-105893,PK-19075,11-11-2014,Pete Kriz,Wisconsin,Office Supplies,Storage,665.88,Bad
17,CA-2014-167164,AG-10270,5/13/2014,Alejandro Grove,Utah,Office Supplies,Storage,55.50,Bad
18,CA-2014-143336,ZD-21925,8/27/2014,Zuschuss Donatelli,California,Office Supplies,Art,8.56,Good
19,CA-2014-143336,ZD-21925,8/27/2014,Zuschuss Donatelli,California,Technology,Phones,213.48,Bad
20,CA-2014-143336,ZD-21925,8/27/2014,Zuschuss Donatelli,California,Office Supplies,Binders,22.72,Bad

# Information about dataset:

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       21 non-null     object
 1   customer_id    21 non-null     object
 2   order_date     21 non-null     object
 3   customer_name  21 non-null     object
 4   state          21 non-null     object
 5   category       21 non-null     object
 6   sub_category   21 non-null     object
 7   sales          21 non-null     float64
 8   Review         21 non-null     object
dtypes: float64(1), object(8)
memory usage: 1.6+ KB

In [10]:
# max rows and columns:

print(pd.options.display.max_rows)
print(pd.options.display.max_columns)

60
20

# Duplicates:

In [11]:
# checking duplicated data

data.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
dtype: bool

In [12]:
# checking count of duplicate values:

data.duplicated().count()

21

# 2. DATA CLEANING

In [13]:
# retrieving data by using set and head:
# head is used for retrieving 21 datas

import numpy as np

set=pd.DataFrame(data.head(21),columns=["order_id","order_date","customer_name","category","Review"])  
set

          order_id  order_date       customer_name         category Review
0   CA-2016-152156  11-08-2016         Claire Gute        Furniture   Good
1   CA-2016-152156  11-08-2016         Claire Gute        Furniture   Good
2   CA-2016-138688  06-12-2016     Darrin Van Huff  Office Supplies   Good
3   US-2015-108966  10-11-2015      Sean O'Donnell        Furniture    Bad
4   US-2015-108966  10-11-2015      Sean O'Donnell  Office Supplies    Bad
5   CA-2014-115812  06-09-2014     Brosina Hoffman        Furniture   Good
6   CA-2014-115812  06-09-2014     Brosina Hoffman  Office Supplies    Bad
7   CA-2014-115812  06-09-2014     Brosina Hoffman       Technology    Bad
8   CA-2014-115812  06-09-2014     Brosina Hoffman  Office Supplies   Good
9   CA-2014-115812  06-09-2014     Brosina Hoffman  Office Supplies   Good
10  CA-2014-115812  06-09-2014     Brosina Hoffman        Furniture   Bad
11  CA-2014-115812  06-09-2014     Brosina Hoffman       Technology    Bad
12  CA-2017-114412   4/15/2017        Andrew Allen  Office Supplies   Good
13  CA-2016-161389  12-05-2016        Irene Maddox  Office Supplies    Bad
14  US-2015-118983  11/22/2015       Harold Pawlan  Office Supplies   Good
15  US-2015-118983  11/22/2015       Harold Pawlan  Office Supplies   Good
16  CA-2014-105893  11-11-2014           Pete Kriz  Office Supplies    Bad
17  CA-2014-167164   5/13/2014     Alejandro Grove  Office Supplies    Bad
18  CA-2014-143336   8/27/2014  Zuschuss Donatelli  Office Supplies   Good
19  CA-2014-143336   8/27/2014  Zuschuss Donatelli       Technology    Bad
20  CA-2014-143336   8/27/2014  Zuschuss Donatelli  Office Supplies    Bad

# Checking for missing value by using isnull or notnull:

In [14]:
# Checking for missing values by using isnull():

set["Review"].isnull()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
Name: Review, dtype: bool

In [15]:
# Checking for missing values by using notnull():

set["Review"].notnull()

0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
15    True
16    True
17    True
18    True
19    True
20    True
Name: Review, dtype: bool

In [16]:
# Total count of none values:

set.isnull().sum()

order_id         0
order_date       0
customer_name    0
category         0
Review           0
dtype: int64

In [17]:
# overall count for dataset:

set.count()

order_id         21
order_date       21
customer_name    21
category         21
Review           21
dtype: int64

# Cleaning/filling missing data:

In [18]:
# droping missing values:

set=pd.DataFrame(data.head(21),columns=["order_id","order_date","customer_name","category","Review"])
set

          order_id  order_date       customer_name         category Review
0   CA-2016-152156  11-08-2016         Claire Gute        Furniture   Good
1   CA-2016-152156  11-08-2016         Claire Gute        Furniture   Good
2   CA-2016-138688  06-12-2016     Darrin Van Huff  Office Supplies   Good
3   US-2015-108966  10-11-2015      Sean O'Donnell        Furniture    Bad
4   US-2015-108966  10-11-2015      Sean O'Donnell  Office Supplies    Bad
5   CA-2014-115812  06-09-2014     Brosina Hoffman        Furniture   Good
6   CA-2014-115812  06-09-2014     Brosina Hoffman  Office Supplies    Bad
7   CA-2014-115812  06-09-2014     Brosina Hoffman       Technology    Bad
8   CA-2014-115812  06-09-2014     Brosina Hoffman  Office Supplies   Good
9   CA-2014-115812  06-09-2014     Brosina Hoffman  Office Supplies   Good
10  CA-2014-115812  06-09-2014     Brosina Hoffman        Furniture   Bad
11  CA-2014-115812  06-09-2014     Brosina Hoffman       Technology    Bad
12  CA-2017-114412   4/15/2017        Andrew Allen  Office Supplies   Good
13  CA-2016-161389  12-05-2016        Irene Maddox  Office Supplies    Bad
14  US-2015-118983  11/22/2015       Harold Pawlan  Office Supplies   Good
15  US-2015-118983  11/22/2015       Harold Pawlan  Office Supplies   Good
16  CA-2014-105893  11-11-2014           Pete Kriz  Office Supplies    Bad
17  CA-2014-167164   5/13/2014     Alejandro Grove  Office Supplies    Bad
18  CA-2014-143336   8/27/2014  Zuschuss Donatelli  Office Supplies   Good
19  CA-2014-143336   8/27/2014  Zuschuss Donatelli       Technology    Bad
20  CA-2014-143336   8/27/2014  Zuschuss Donatelli  Office Supplies    Bad

In [20]:
# replacing values with some specific value

set.replace({"Good":0,"Bad":1})

          order_id  order_date       customer_name         category Review
0   CA-2016-152156  11-08-2016         Claire Gute        Furniture      0
1   CA-2016-152156  11-08-2016         Claire Gute        Furniture      0
2   CA-2016-138688  06-12-2016     Darrin Van Huff  Office Supplies      0
3   US-2015-108966  10-11-2015      Sean O'Donnell        Furniture      1
4   US-2015-108966  10-11-2015      Sean O'Donnell  Office Supplies      1
5   CA-2014-115812  06-09-2014     Brosina Hoffman        Furniture      0
6   CA-2014-115812  06-09-2014     Brosina Hoffman  Office Supplies      1
7   CA-2014-115812  06-09-2014     Brosina Hoffman       Technology      1
8   CA-2014-115812  06-09-2014     Brosina Hoffman  Office Supplies      0
9   CA-2014-115812  06-09-2014     Brosina Hoffman  Office Supplies      0
10  CA-2014-115812  06-09-2014     Brosina Hoffman        Furniture   Bad
11  CA-2014-115812  06-09-2014     Brosina Hoffman       Technology      1
12  CA-2017-114412   4/15/2017        Andrew Allen  Office Supplies      0
13  CA-2016-161389  12-05-2016        Irene Maddox  Office Supplies      1
14  US-2015-118983  11/22/2015       Harold Pawlan  Office Supplies      0
15  US-2015-118983  11/22/2015       Harold Pawlan  Office Supplies      0
16  CA-2014-105893  11-11-2014           Pete Kriz  Office Supplies      1
17  CA-2014-167164   5/13/2014     Alejandro Grove  Office Supplies      1
18  CA-2014-143336   8/27/2014  Zuschuss Donatelli  Office Supplies      0
19  CA-2014-143336   8/27/2014  Zuschuss Donatelli       Technology      1
20  CA-2014-143336   8/27/2014  Zuschuss Donatelli  Office Supplies      1

# Data Frame methods:

In [30]:
# slicing of row by using iloc[]:

set=set.iloc[0:11]
set

          order_id  order_date    customer_name         category Review
0   CA-2016-152156  11-08-2016      Claire Gute        Furniture   Good
1   CA-2016-152156  11-08-2016      Claire Gute        Furniture   Good
2   CA-2016-138688  06-12-2016  Darrin Van Huff  Office Supplies   Good
3   US-2015-108966  10-11-2015   Sean O'Donnell        Furniture    Bad
4   US-2015-108966  10-11-2015   Sean O'Donnell  Office Supplies    Bad
5   CA-2014-115812  06-09-2014  Brosina Hoffman        Furniture   Good
6   CA-2014-115812  06-09-2014  Brosina Hoffman  Office Supplies    Bad
7   CA-2014-115812  06-09-2014  Brosina Hoffman       Technology    Bad
8   CA-2014-115812  06-09-2014  Brosina Hoffman  Office Supplies   Good
9   CA-2014-115812  06-09-2014  Brosina Hoffman  Office Supplies   Good
10  CA-2014-115812  06-09-2014  Brosina Hoffman        Furniture   Bad

In [31]:
# slicing of column by using iloc[]:

set=set.iloc[:,0:3]
set

          order_id  order_date    customer_name
0   CA-2016-152156  11-08-2016      Claire Gute
1   CA-2016-152156  11-08-2016      Claire Gute
2   CA-2016-138688  06-12-2016  Darrin Van Huff
3   US-2015-108966  10-11-2015   Sean O'Donnell
4   US-2015-108966  10-11-2015   Sean O'Donnell
5   CA-2014-115812  06-09-2014  Brosina Hoffman
6   CA-2014-115812  06-09-2014  Brosina Hoffman
7   CA-2014-115812  06-09-2014  Brosina Hoffman
8   CA-2014-115812  06-09-2014  Brosina Hoffman
9   CA-2014-115812  06-09-2014  Brosina Hoffman
10  CA-2014-115812  06-09-2014  Brosina Hoffman

In [32]:
# assigning indexing pandas as dataframes:

set=pd.DataFrame(data,columns=["order_id","order_date","customer_name","category","Review"],
                        index=["a","b","c","d","e"])
set

  order_id order_date customer_name category Review
a      NaN        NaN           NaN      NaN    NaN
b      NaN        NaN           NaN      NaN    NaN
c      NaN        NaN           NaN      NaN    NaN
d      NaN        NaN           NaN      NaN    NaN
e      NaN        NaN           NaN      NaN    NaN

In [34]:
# sorting by columns in ascending order:

set=pd.DataFrame(data.head(20),columns=["order_id","order_date","customer_name","category","Review"])
set
set.sort_values(by=["customer_name"])

          order_id  order_date       customer_name         category Review
17  CA-2014-167164   5/13/2014     Alejandro Grove  Office Supplies    Bad
12  CA-2017-114412   4/15/2017        Andrew Allen  Office Supplies   Good
9   CA-2014-115812  06-09-2014     Brosina Hoffman  Office Supplies   Good
11  CA-2014-115812  06-09-2014     Brosina Hoffman       Technology    Bad
10  CA-2014-115812  06-09-2014     Brosina Hoffman        Furniture   Bad
5   CA-2014-115812  06-09-2014     Brosina Hoffman        Furniture   Good
6   CA-2014-115812  06-09-2014     Brosina Hoffman  Office Supplies    Bad
7   CA-2014-115812  06-09-2014     Brosina Hoffman       Technology    Bad
8   CA-2014-115812  06-09-2014     Brosina Hoffman  Office Supplies   Good
0   CA-2016-152156  11-08-2016         Claire Gute        Furniture   Good
1   CA-2016-152156  11-08-2016         Claire Gute        Furniture   Good
2   CA-2016-138688  06-12-2016     Darrin Van Huff  Office Supplies   Good
14  US-2015-118983  11/22/2015       Harold Pawlan  Office Supplies   Good
15  US-2015-118983  11/22/2015       Harold Pawlan  Office Supplies   Good
13  CA-2016-161389  12-05-2016        Irene Maddox  Office Supplies    Bad
16  CA-2014-105893  11-11-2014           Pete Kriz  Office Supplies    Bad
4   US-2015-108966  10-11-2015      Sean O'Donnell  Office Supplies    Bad
3   US-2015-108966  10-11-2015      Sean O'Donnell        Furniture    Bad
18  CA-2014-143336   8/27/2014  Zuschuss Donatelli  Office Supplies   Good
19  CA-2014-143336   8/27/2014  Zuschuss Donatelli       Technology    Bad

In [35]:
# sorting columns by descending order:

set.sort_values(ascending=False, by=["customer_name"])

          order_id  order_date       customer_name         category Review
19  CA-2014-143336   8/27/2014  Zuschuss Donatelli       Technology    Bad
18  CA-2014-143336   8/27/2014  Zuschuss Donatelli  Office Supplies   Good
3   US-2015-108966  10-11-2015      Sean O'Donnell        Furniture    Bad
4   US-2015-108966  10-11-2015      Sean O'Donnell  Office Supplies    Bad
16  CA-2014-105893  11-11-2014           Pete Kriz  Office Supplies    Bad
13  CA-2016-161389  12-05-2016        Irene Maddox  Office Supplies    Bad
15  US-2015-118983  11/22/2015       Harold Pawlan  Office Supplies   Good
14  US-2015-118983  11/22/2015       Harold Pawlan  Office Supplies   Good
2   CA-2016-138688  06-12-2016     Darrin Van Huff  Office Supplies   Good
1   CA-2016-152156  11-08-2016         Claire Gute        Furniture   Good
0   CA-2016-152156  11-08-2016         Claire Gute        Furniture   Good
11  CA-2014-115812  06-09-2014     Brosina Hoffman       Technology    Bad
9   CA-2014-115812  06-09-2014     Brosina Hoffman  Office Supplies   Good
8   CA-2014-115812  06-09-2014     Brosina Hoffman  Office Supplies   Good
7   CA-2014-115812  06-09-2014     Brosina Hoffman       Technology    Bad
6   CA-2014-115812  06-09-2014     Brosina Hoffman  Office Supplies    Bad
5   CA-2014-115812  06-09-2014     Brosina Hoffman        Furniture   Good
10  CA-2014-115812  06-09-2014     Brosina Hoffman        Furniture   Bad
12  CA-2017-114412   4/15/2017        Andrew Allen  Office Supplies   Good
17  CA-2014-167164   5/13/2014     Alejandro Grove  Office Supplies    Bad

# Pandas DataFrame.describe():

In [36]:
set.describe()

              order_id  order_date    customer_name         category Review
count               20          20               20               20     20
unique              10          10               10                3      3
top     CA-2014-115812  06-09-2014  Brosina Hoffman  Office Supplies   Good
freq                 7           7                7               12     10